
.icon-spin:before { content: '\e800'; } /* '' */
.icon-dot-circled:before { content: '\e801'; } /* '' */
.icon-megaphone:before { content: '\e802'; } /* '' */
.icon-rss-alt:before { content: '\e803'; } /* '' */
.icon-rss:before { content: '\e804'; } /* '' */
.icon-archive:before { content: '\e805'; } /* '' */
.icon-moon:before { content: '\e806'; } /* '' */
.icon-globe:before { content: '\e807'; } /* '' */
.icon-globe-inv:before { content: '\e808'; } /* '' */
.icon-calendar:before { content: '\e809'; } /* '' */
.icon-group:before { content: '\e80a'; } /* '' */
.icon-cog:before { content: '\e80b'; } /* '' */
.icon-link:before { content: '\e80c'; } /* '' */
.icon-up-open:before { content: '\e80d'; } /* '' */
.icon-help:before { content: '\e80e'; } /* '' */
.icon-th:before { content: '\e80f'; } /* '' */
.icon-network:before { content: '\e810'; } /* '' */
.icon-mscs:before { content: '\e811'; } /* '' */